@font-face {
    font-family: 'SegoeUI';
    src: url(../../lib/styles/Segoe_UI.ttf);
}

body {
  margin: 0;
  font-family: 'SegoeUI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
